<div id="<%= dom_id employee %>">
  <p>
    <strong>Employeeid:</strong>
    <%= employee.EmployeeId %>
  </p>

  <p>
    <strong>Emailid:</strong>
    <%= employee.EmailId %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email_id %>
  </p>

</div>
