<h1 class="center">Elektroniczny dzienniczek ucznia technikum weterynaryjnego.</h1>
<p>
Strona internetowa obsługująca system elektronicznego dziennika
<ul>
<ul>
  Lista naszych uczniow:
<% @students.each do |student| %>
    <li><strong><%= student.FirstName %> <%= student.SecondName %></strong> Numer indeksu: <%=student.StudentId%></li>
<% end %>
</ul>
</p>
