<p id="notice"><%= notice %></p>

<p>
  <strong>Classlistid:</strong>
  <%= @class_list.ClassListId %>
</p>

<%= link_to 'Edit', edit_class_list_path(@class_list) %> |
<%= link_to 'Back', class_lists_path %>
