<p id="notice"><%= notice %></p>

<h1><%= @certificate.name %> by <%= link_to @certificate.student.name, @certificate.student %></h1>

<hr>
<h1>Lista odpowiedzi</h1>

<hr>

<%= link_to 'Back', @certificate %>
